[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
python-dotenv = "*"

[dev-packages]
pytest = "==8.4.1"
allure-pytest = "==2.14.3"
exceptiongroup = "*"

[requires]
python_version = "3.9"